In [3]:
#LIBRARIES
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#LOAD AND DISPLAY THE FIRST FEW  DATASET 
df = pd.read_csv('./fortune1000_2023.csv')
df.head(5)

,Rank,Company,Ticker,Sector,Industry,Profitable,Founder_is_CEO,FemaleCEO,Growth_in_Jobs,Change_in_Rank,...,Assets_M,CEO,Country,HeadquartersCity,HeadquartersState,Website,CompanyType,Footnote,MarketCap_Updated_M,Updated
0,1,Walmart,WMT,Retailing,General Merchandisers,yes,no,no,no,0.0,...,243197,C. Douglas McMillon,U.S.,Bentonville,AR,www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",416986.0,2023-08-02
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,no,no,no,no,0.0,...,462675,Andrew R. Jassy,U.S.,Seattle,WA,www.amazon.com,Public,"Market value as of July 17, 2023.",1370373.0,2023-08-02
2,3,Exxon Mobil,XOM,Energy,Petroleum Refining,yes,no,no,no,3.0,...,369067,Darren W. Woods,U.S.,Irving,TX,www.exxonmobil.com,Public,Excise taxes have been deducted. Market value ...,409878.0,2023-08-02
3,4,Apple,AAPL,Technology,"Computers, Office Equipment",yes,no,no,yes,-1.0,...,352755,Timothy D. Cook,U.S.,Cupertino,CA,www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3051211.0,2023-08-02
4,5,UnitedHealth Group,UNH,Health Care,Health Care: Insurance and Managed Care,yes,no,no,yes,0.0,...,245705,Andrew P. Witty,U.S.,Minnetonka,MN,www.unitedhealthgroup.com,Public,"Market value as of July 17, 2023.",450694.0,2023-08-02

In [8]:
#Quantitative data exploration
print("Size of data:", df.size)
print("Shape of data:", df.shape)

Size of data: 31000
Shape of data: (1000, 31)

In [7]:
#Display summary statistics for numerical variables 
#quantitative data exploration
print("Data Description")
df.describe()

Data Description

,Rank,Change_in_Rank,Number_of_employees,MarketCap_March31_M,Revenues_M,RevenuePercentChange,Profits_M,ProfitsPercentChange,Assets_M,MarketCap_Updated_M
count,1000.000000,929.000000,1.000000e+03,9.590000e+02,1000.000000,991.000000,1000.000000,866.000000,1.000000e+03,9.650000e+02
mean,500.498000,0.244349,3.646411e+04,3.967218e+04,20274.218000,18.540565,1725.548000,24.535219,6.113475e+04,4.175154e+04
std,288.820355,65.525393,9.980620e+04,1.383292e+05,45905.041289,42.004907,5869.237142,463.775874,2.641377e+05,1.613676e+05
min,1.000000,-431.000000,2.300000e+01,1.200000e+01,2407.000000,-72.200000,-22819.000000,-4109.600000,3.820000e+02,1.200000e+01
25%,250.750000,-26.000000,6.660750e+03,3.994000e+03,3942.000000,3.500000,170.500000,-34.800000,5.161750e+03,3.904000e+03
50%,500.500000,-3.000000,1.417000e+04,1.015800e+04,7237.500000,11.500000,576.000000,1.800000,1.199900e+04,1.015000e+04
75%,750.250000,20.000000,3.101000e+04,3.220000e+04,16510.750000,23.600000,1407.250000,35.100000,3.352475e+04,3.235900e+04
max,1000.000000,342.000000,2.100000e+06,2.609039e+06,611289.000000,981.600000,99803.000000,9544.200000,4.305288e+06,3.051211e+06

In [10]:
#Qualitative data exploration 
print("Column names of the attributes:\n", df.columns)

Column names of the attributes:
 Index(['Rank', 'Company', 'Ticker', 'Sector', 'Industry', 'Profitable',
       'Founder_is_CEO', 'FemaleCEO', 'Growth_in_Jobs', 'Change_in_Rank',
       'Gained_in_Rank', 'Dropped_in_Rank', 'Newcomer_to_the_Fortune500',
       'Global500', 'Best_Companies', 'Number_of_employees',
       'MarketCap_March31_M', 'Revenues_M', 'RevenuePercentChange',
       'Profits_M', 'ProfitsPercentChange', 'Assets_M', 'CEO', 'Country',
       'HeadquartersCity', 'HeadquartersState', 'Website', 'CompanyType',
       'Footnote', 'MarketCap_Updated_M', 'Updated'],
      dtype='object')

In [11]:
#Qualitative data exploration
print("Data types of the attributes:",df.dtypes)

Data types of the attributes: Rank                            int64
Company                        object
Ticker                         object
Sector                         object
Industry                       object
Profitable                     object
Founder_is_CEO                 object
FemaleCEO                      object
Growth_in_Jobs                 object
Change_in_Rank                float64
Gained_in_Rank                 object
Dropped_in_Rank                object
Newcomer_to_the_Fortune500     object
Global500                      object
Best_Companies                 object
Number_of_employees             int64
MarketCap_March31_M           float64
Revenues_M                      int64
RevenuePercentChange          float64
Profits_M                       int64
ProfitsPercentChange          float64
Assets_M                        int64
CEO                            object
Country                        object
HeadquartersCity               object
HeadquartersState              object
Website                        object
CompanyType                    object
Footnote                       object
MarketCap_Updated_M           float64
Updated                        object
dtype: object

In [12]:
# Display information about the dataset, including data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Rank                        1000 non-null   int64
 1   Company                     1000 non-null   object
 2   Ticker                      959 non-null    object
 3   Sector                      1000 non-null   object
 4   Industry                    1000 non-null   object
 5   Profitable                  1000 non-null   object
 6   Founder_is_CEO              1000 non-null   object
 7   FemaleCEO                   1000 non-null   object
 8   Growth_in_Jobs              993 non-null    object
 9   Change_in_Rank              929 non-null    float64
 10  Gained_in_Rank              929 non-null    object
 11  Dropped_in_Rank             929 non-null    object
 12  Newcomer_to_the_Fortune500  500 non-null    object
 13  Global500                   1000 non-null   object
 14  Best_Companies              1000 non-null   object
 15  Number_of_employees         1000 non-null   int64
 16  MarketCap_March31_M         959 non-null    float64
 17  Revenues_M                  1000 non-null   int64
 18  RevenuePercentChange        991 non-null    float64
 19  Profits_M                   1000 non-null   int64
 20  ProfitsPercentChange        866 non-null    float64
 21  Assets_M                    1000 non-null   int64
 22  CEO                         999 non-null    object
 23  Country                     1000 non-null   object
 24  HeadquartersCity            1000 non-null   object
 25  HeadquartersState           1000 non-null   object
 26  Website                     1000 non-null   object
 27  CompanyType                 1000 non-null   object
 28  Footnote                    991 non-null    object
 29  MarketCap_Updated_M         965 non-null    float64
 30  Updated                     1000 non-null   object
dtypes: float64(5), int64(5), object(21)
memory usage: 242.3+ KB

In [13]:
# Check for Missing Values
print("Missing Values")
df.isnull().sum()

Missing Values

Rank                            0
Company                         0
Ticker                         41
Sector                          0
Industry                        0
Profitable                      0
Founder_is_CEO                  0
FemaleCEO                       0
Growth_in_Jobs                  7
Change_in_Rank                 71
Gained_in_Rank                 71
Dropped_in_Rank                71
Newcomer_to_the_Fortune500    500
Global500                       0
Best_Companies                  0
Number_of_employees             0
MarketCap_March31_M            41
Revenues_M                      0
RevenuePercentChange            9
Profits_M                       0
ProfitsPercentChange          134
Assets_M                        0
CEO                             1
Country                         0
HeadquartersCity                0
HeadquartersState               0
Website                         0
CompanyType                     0
Footnote                        9
MarketCap_Updated_M            35
Updated                         0
dtype: int64

In [16]:
#Numeric Features 
#Replace the missing values with '0' using 'fiilna' method
df['Change_in_Rank'] = df['Change_in_Rank'].fillna(0)
df['MarketCap_March31_M'] = df['MarketCap_March31_M'].fillna(0)
df['ProfitsPercentChange'] = df['ProfitsPercentChange'].fillna(0)
df['MarketCap_Updated_M'] = df['MarketCap_Updated_M'].fillna(0)
df['RevenuePercentChange'] = df['RevenuePercentChange'].fillna(0)
#Categorical Features 
#Replace the missing values with 'NA' using 'fiilna' method
df['Ticker'] = df['Ticker'].fillna('NA')
df['Gained_in_Rank']=df['Gained_in_Rank'].fillna('NA')
df['Dropped_in_Rank']=df['Dropped_in_Rank'].fillna('NA')
df['Newcomer_to_the_Fortune500']=df['Newcomer_to_the_Fortune500'].fillna('NA')
df['Growth_in_Jobs']=df['Growth_in_Jobs'].fillna('NA')
df['CEO']=df['CEO'].fillna('NA')
df['Footnote']=df['Footnote'].fillna('NA')
df.isna().sum()

Rank                          0
Company                       0
Ticker                        0
Sector                        0
Industry                      0
Profitable                    0
Founder_is_CEO                0
FemaleCEO                     0
Growth_in_Jobs                0
Change_in_Rank                0
Gained_in_Rank                0
Dropped_in_Rank               0
Newcomer_to_the_Fortune500    0
Global500                     0
Best_Companies                0
Number_of_employees           0
MarketCap_March31_M           0
Revenues_M                    0
RevenuePercentChange          0
Profits_M                     0
ProfitsPercentChange          0
Assets_M                      0
CEO                           0
Country                       0
HeadquartersCity              0
HeadquartersState             0
Website                       0
CompanyType                   0
Footnote                      0
MarketCap_Updated_M           0
Updated                       0
dtype: int64

In [17]:
# Check for Duplicates
print("Duplicate Rows:")
df.duplicated().sum()

Duplicate Rows:

0

In [20]:
#Sector Here we can see the most popular Sectors
df['Sector'].value_counts()

Sector
Financials                       161
Technology                       117
Energy                           115
Health Care                       80
Retailing                         72
Business Services                 52
Industrials                       49
Materials                         48
Transportation                    39
Food, Beverages & Tobacco         33
Wholesalers                       31
Engineering & Construction        31
Chemicals                         28
Hotels, Restaurants & Leisure     28
Media                             28
Household Products                20
Motor Vehicles & Parts            18
Aerospace & Defense               16
Apparel                           16
Food & Drug Stores                 9
Telecommunications                 9
Name: count, dtype: int64